DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

EMAIL_PROVIDER_API_KEY=

STORAGE_PROVIDER=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=

PAYMENT_PROVIDER=
PAYMENT_SECRET=
PAYMENT_WEBHOOK_SECRET=